* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #111111;
  color: #efefec;

  font-family: Arial, Helvetica, sans-serif;

  overflow: hidden;
}

.page {
  position: relative;

  width: 100%;
  height: 100vh;

  min-height: 650px;

  background: #111111;
}

/* CENTER AREA */

.center-wrap {
  position: absolute;

  left: 50%;
  top: 51%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* COUNTDOWN */

.countdown {
  display: flex;
  gap: 8px;

  margin-bottom: 58px;
}

.time-box {
  width: 58px;
  height: 58px;

  background: #1c1c1c;

  border-radius: 6px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.number {
  color: #f4f4f1;

  font-size: 16px;
  font-weight: 700;

  line-height: 1;
}

.label {
  margin-top: 6px;

  color: #929292;

  font-size: 5px;
  font-weight: 600;

  letter-spacing: 0.08em;

  text-transform: uppercase;
}

/* BRAND AREA */

.brand-row {
  display: flex;
  align-items: center;
}

.brand-left {
  display: flex;
  align-items: center;

  gap: 17px;
}

.symbol {
  color: #ff3517;

  font-size: 60px;
  font-weight: 700;

  line-height: 0.7;

  transform: translateY(-1px);
}

.brand-name {
  display: flex;
  flex-direction: column;

  color: #efefec;

  font-size: 28px;
  font-weight: 700;

  line-height: 0.82;

  letter-spacing: -0.04em;
}

.divider {
  width: 2px;
  height: 52px;

  margin-left: 28px;
  margin-right: 28px;

  background: #e8e8e3;
}

.descriptor {
  min-width: 180px;

  color: #efefec;

  font-size: 19px;
  font-weight: 600;

  line-height: 1.04;

  letter-spacing: -0.025em;
}

/* HUGE BOTTOM TEXT */

.coming-soon {
  position: absolute;

  left: 10px;
  bottom: -47px;

  color: #e8e8e3;

  font-size: clamp(120px, 15vw, 290px);
  font-weight: 600;

  line-height: 0.8;

  letter-spacing: -0.065em;

  white-space: nowrap;
}

/* TABLET */

@media (max-width: 900px) {
  .center-wrap {
    top: 47%;
  }

  .countdown {
    margin-bottom: 45px;
  }

  .brand-name {
    font-size: 23px;
  }

  .symbol {
    font-size: 50px;
  }

  .descriptor {
    font-size: 16px;
    min-width: 150px;
  }

  .divider {
    margin-left: 22px;
    margin-right: 22px;
  }

  .coming-soon {
    bottom: -20px;

    font-size: clamp(90px, 18vw, 180px);
  }
}

/* MOBILE */

@media (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .center-wrap {
    top: 43%;

    width: 100%;

    padding: 0 20px;
  }

  .countdown {
    gap: 5px;

    margin-bottom: 40px;
  }

  .time-box {
    width: 53px;
    height: 53px;
  }

  .number {
    font-size: 15px;
  }

  .label {
    font-size: 5px;
  }

  .brand-row {
    transform: scale(0.78);
  }

  .coming-soon {
    left: 10px;
    bottom: 4px;

    font-size: 22vw;

    line-height: 0.82;
  }
}
